<div class="container" [formGroup]="searchForm">
  <div class="search-input">
    <input type="text" formControlName="searchTerm" placeholder="Search products by name">
  </div>

  <div *ngIf="products.length === 0">
    <p>No products found 😞</p>
  </div>

  <div class="product-list">
    <div *ngFor="let product of products" class="product-item">
      <!-- <span>{{ product.id }}</span> -->
      <p>{{ product.title }}</p> 
      <span>{{ product.category }}</span>
      <img [src]="product.image" alt="{{ product.title }}" />
      <span>{{product.price}}</span>
      <span>{{product.description}}</span>
    </div>
  </div>
</div>

<div *ngIf="loading" class="loading-indicator">Loading...</div>

